@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "./base.css";
@import "./utilities.css";

#app {
  font-weight: normal;
  background-size: cover;
  background-image: url(/cover.jpg);
  /* TODO: clean up styles across app */
  min-height: 100%;
  min-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: inherit;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 24px 140px;
  font-size: 18px;
}

@media (hover: hover) {
  a:hover {
    color: white;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}