@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "./base.css";

#app {
  font-weight: normal;
  background-size: cover;
  background-image: url(/cover.jpg);
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: inherit;
}

@media (hover: hover) {
  a:hover {
    color: white;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}